{% extends "core/base.html" %}
{% block title %} Editstudent {% endblock title %}
{% block main_content %}
 <section class="container ">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h3>CRUD Projet In Python Django</h3>
        </div>
    </div>
    <div class="row justify-content-around mt-3">
      <div class="col-sm-3">
       <form action="" method="post" class="bg-white rounded shadow">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit" class="btn btn-primary">
      </div>
    </div>
  
</section>
{% endblock main_content %} 